body {
  margin: 0;
  padding: 0;
  background-color: #F4F4F4;
}

h1 {
  color: #16a085;
}

dt {
  padding-top: 5px;
  font-weight: bold;
}

#header-container {
  margin: 0 0 50px 0;
  padding: 30px 0;
  background-color: #16a085;
  border-bottom: 1px solid #D9D9D9;
}

header {
  margin: 0 auto;
  max-width: 700px;
}

header h1 {
  margin: 0;
  padding: 0;
  color: #FFF;
}

#content-container {
  margin: 0 auto;
  max-width: 700px;
}

#nav {
  list-style-type: none;
  padding: 0;
}

#nav li {
  padding-top: 2px;
}

#nav a {
  color: blue;
  text-decoration: none;
}

#nav a:hover {
  text-decoration: underline;
}

#nav a:visited {
  color: blue;
}
